<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<title>Password Generator</title>

<div class="container text-center">
    <h1>About Policy Compliant Password Generator</h1>

    <br>
    <p>Simple project done to generate policy compliant passwords securely using Django.</p>
    <br>
    <p>Done by <a href='https://www.linkedin.com/in/tobiasleong/'>Tobias Leong</a> from the DSAID Data Engineering team.
    </p>
    <br>
    <a href="{% url 'home' %}" class="btn btn-warning">Go back</a>
</div>